[project]
	description = Major mode for editing comma/char separated values
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mweaverh (mweaverh)
[access "refs/for/refs/*"]
	read = group user/mweaverh (mweaverh)
	push = group user/mweaverh (mweaverh)
	label-Code-Review = -2..+2 group user/mweaverh (mweaverh)
	label-Verified = -1..+1 group user/mweaverh (mweaverh)
	rebase = group user/mweaverh (mweaverh)
	removeReviewer = group user/mweaverh (mweaverh)
	submit = group user/mweaverh (mweaverh)
[access "refs/heads/*"]
	read = group user/mweaverh (mweaverh)
	create = group user/mweaverh (mweaverh)
	push = +force group user/mweaverh (mweaverh)
	pushMerge = group user/mweaverh (mweaverh)
[access "refs/tags/*"]
	push = group user/mweaverh (mweaverh)
	push = +force group user/mweaverh (mweaverh)
[receive]
	requireSignedOffBy = true
